venv/

__pycache__/
*.py[cod]
*.pyo
*.pyd

*.log
*.pot
*.pyc
*.mo
*.swp
*.swo
*.tmp
*.bak

*.sqlite3

/static/
media/

node_modules/
npm-debug.log
yarn-error.log

.vscode/

.DS_Store
Thumbs.db

**/migrations/**/*
!**/migrations/__init__.py
