@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100..700;1,100..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body {
    margin: 0;
    background-color: rgb(226, 226, 226);
    font-family: "Inter", sans-serif;

}

.menu_superior {
    width: 100%;

    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(252, 252, 252);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 0 20px;
}

.menu_superior ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}

.menu_superior ul li {
    margin: 0 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1;
    padding: 10px 20px;
}

.menu_superior a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.menu_superior a:hover {
    color: rgb(28, 127, 255);
}


.formulario {
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
}

.title_form {
    display: inline-block;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 50px;
}

.title_form a {
    color: rgb(162, 0, 255);
    text-decoration: none;
}

.title_form a:hover {
    color: rgb(28, 127, 255);
}

.input_group {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input_box {
    margin-top: 15px;
}

.input_box input {
    border-left: none;
    border-top: none;
    border-right: none;
    width: 300px;
    padding: 10px;
    background-color: none;
}

.input_box input:hover {
    background-color: white;

}

.buttons_area {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

button {
    margin: 20px;
    border-radius: 20px;
    padding: 10px 15px;
}

.button_negative:hover {
    background-color: red;
    color: white;
}

.button_positive:hover {
    background-color: green;
    color: white;
}